@import url('https://fonts.googleapis.com/css?family=Electrolize|Libre+Barcode+39+Text|Major+Mono+Display');


body {
    background-color: #1D1F20;
}

.scrolltop {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 2;
}

.scroll {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #b2b2b2;
    background: rgba(178, 178, 178, 0.7);
    padding: 20px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.scroll:hover {
    background: rgba(178, 178, 178, 1.0);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.scroll:hover .fa {
    padding-top: -10px;
}

.scroll .fa {
    font-size: 30px;
    margin-top: -5px;
    margin-left: 1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.name {
    color: #19f9d8;
    font-size: 2rem;
    font-family: 'Libre Barcode 39 Text', cursive;
 
}

.name:hover {
    color: #19f9d899;
}

.navbar-nav a:after {
    content: " | ";
}

.navbar-nav a {
    color: #19f9d8;
    font-size: 1rem;
    font-family: 'Major Mono Display', monospace;
}

.navbar-nav a:hover {
    color: #19f9d899;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2319f9d8' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#messenger {
    min-height: 6rem;
    margin-top: 15rem;
    color: #19f9d8;
    font-size: 4rem;
    font-family: 'Major Mono Display', monospace;
    white-space: nowrap;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
}


.arrow-container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.arrow-down {
    position: relative;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
}

.arrow-down span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-right: 3px solid #19f9d8;
    border-bottom: 3px solid #19f9d8;
    animation: arrow-down 1s linear infinite;
}

.arrow-down span:nth-child(1) {
    top: -30px;
    left: -30px;
    animation-delay: 0;
}

.arrow-down span:nth-child(2) {
    top: -15px;
    left: -15px;
    animation-delay: .2s;
}

.arrow-down span:nth-child(3) {
    top: 0;
    left: 0;
    animation-delay: .4s;
}

.arrow-down span:nth-child(4) {
    top: 15px;
    left: 15px;
    animation-delay: .6s;
}

.arrow-down span:nth-child(5) {
    top: 30px;
    left: 30px;
    animation-delay: .8s;
}

@keyframes arrow-down {
    0% {
        border-color: #19f9d8;
        transform: translate(0, 0);
    }

    20% {
        border-color: #19f9d8;
        transform: translate(15px, 15px);
    }

    20.1%,
    100% {
        border-color: #222;
    }
}

#aboutme {
    margin-top: 28rem;
    margin-bottom: 5rem;
}

.about-me-header {
    color: #19f9d8;
    font-family: 'Electrolize', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.about-me-content {
    color: #19f9d8;
    font-family: 'Electrolize', sans-serif;
    font-size: 1.2rem;
}


.img-circle {
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    background-image: url(images/personal/20211107_113047-01.jpeg);
    border-color: #19f9d8;

}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

#portfolio {
    background-color: #f1f1f1;
    padding-bottom: 5rem;
}

.portfolio-header {
    padding-top: 5rem;
    margin-bottom: 5rem;
    font-family: 'Electrolize', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    color: #5ad67d;
}

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.blog-card a {
    color: inherit;
}

.blog-card a:hover {
    color: #5ad67d;
}

.blog-card:hover .photo {
    -webkit-transform: scale(1.3) rotate(3deg);
    transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}

.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.blog-card .details,
.blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-family: 'Electrolize', sans-serif;
    font-size: .9rem;
}

.blog-card .details ul li {
    display: inline-block;
}

.blog-card .details .author:before {
    font-family: 'Font Awesome\ 5 Free';
    margin-right: 10px;
    content: "\f007";
}

.blog-card .details .date:before {
    font-family: 'Font Awesome\ 5 Free';
    margin-right: 10px;
    content: "\f133";

}

.blog-card .details .tags ul:before {
    font-family: 'Font Awesome\ 5 Free';
    margin-right: 10px;
    content: "#";
}

.blog-card .details .tags li {
    margin-right: 2px;
}

.blog-card .details .tags li:first-child {
    margin-left: -4px;
}

.blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
    font-family: 'Electrolize', sans-serif;

}

.blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}

.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}

.blog-card .description .read-more {
    text-align: right;
}

.blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
    font-family: 'Electrolize', sans-serif;

}

.blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}

.blog-card p {
    position: relative;
    margin: 1rem 0 0;
    font-family: 'Electrolize', sans-serif;

}

.blog-card p:first-of-type {
    margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.blog-card:hover .details {
    left: 0%;
}

.github {
    font-size: 1.2rem;
    float: left;
}



.resume_header {
    padding-top: 5rem;
    margin-bottom: 5rem;
    font-family: 'Electrolize', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    color: #19f9d8;
    ;
}

.resume_viewer {
    width: 100%;
    height: 800px;
}

iframe {
    border: #19f9d8;
    border-width: 4px;
    border-style: solid;
}

.fa-cloud-download-alt:before {

    color: #19f9d8;
    font-size: 1.5rem;
}

.link-text {

    color: #19f9d8;
    font-size: 1.5rem;
    font-family: 'Electrolize', sans-serif;
    display: inline;
}

#margins {
    margin-top: 0.8rem;
}



.panel {
    margin-bottom: 3rem;
    margin-top: 3rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 23px 10px 10px;
    background-color: white;

    border-radius: 5px;
}

.panel hr {
    border: 0;
    border-top: 1px solid #19f9d8;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;

}

.panel hr:before {
    content: '';
    width: 30px;
    height: 4px;
    background-color: #19f9d8;
    position: absolute;
    bottom: 0;
}

.panel h3 {
    color: #19f9d8;
    font-family: 'Electrolize', sans-serif;

}

.tags a {
    font-size: 15px;
    text-decoration: none;
    font-family: 'Electrolize', sans-serif;

}

.tags span {
    display: inline-block;
    margin-bottom: 5px;
}

.tags .tag {
    border: 1px solid #dee2e5;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 6px 15px;
    color: #a9b1b5;
    transition: all 300ms ease-in-out;
}

.tags .tag:hover {
    color: #fff;
    background-color: #19f9d8;
    ;
}

.tags .tag--inverse {
    background-color: #fbfbfb;
    border: 1px solid #a9b1b5;
    padding: 6px 15px;
    color: #a9b1b5;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
}

.tags .tag--inverse:hover {
    border: 1px solid #63d3e1;
    color: #63d3e1;
}

.tags .tag-rounded {
    border: 1px solid #dee2e5;
    background-color: #dee2e5;
    border-radius: 25px;
    padding: 6px 15px;
    color: #a9b1b5;
    transition: all 300ms ease-in-out;
}

.tags .tag-rounded:hover {
    color: #fff;
    background-color: #63d3e1;
}

.tags .tag-rounded--inverse {
    border: 1px solid #a9b1b5;
    background-color: #fbfbfb;
    border-radius: 25px;
    padding: 6px 15px;
    color: #a9b1b5;
    transition: all 300ms ease-in-out;
}

.tags .tag-rounded--inverse:hover {
    border: 1px solid #63d3e1;
    color: #63d3e1;
}

.social-media-buttons {
    text-align: center;
    margin-top: 4rem;
}

.social-media-button {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border: 2px solid #19f9d8;
    border-radius: 100%;
    position: relative;
    margin: 1rem .5rem;
    cursor: pointer;
    transition: border-radius .25s, transform .5s, border-color 1s;
}

.social-media-button i {
    color: #19f9d8;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color .5s;
}

.social-media-button:hover {
    border-radius: 10%;
    border-color: #222;
    transform: rotate(360deg);
}

.social-media-button.email:hover i {
    color: whitesmoke;
}

.social-media-button.linkein:hover i {
    color: #3b5998;
}

.social-media-button.github-footer:hover i {
    color: #6e5494;
}

.social-media-button.facebook:hover i {

    color: #0e4dd6;
}

.copyright {
    font-family: 'Electrolize', sans-serif;
    font-size: 1rem;
    color: #19f9d8
}




@media (min-width: 640px) {
    .blog-card {
        flex-direction: row;
        max-width: 700px;
    }

    .blog-card .meta {
        flex-basis: 40%;
        height: auto;
    }

    .blog-card .description {
        flex-basis: 60%;
    }

    .blog-card .description:before {
        -webkit-transform: skewX(-3deg);
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .blog-card.alt {
        flex-direction: row-reverse;
    }

    .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        -webkit-transform: skew(3deg);
        transform: skew(3deg);
    }

    .blog-card.alt .details {
        padding-left: 25px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    #messenger {
        font-size: 1.2rem;
    }


    .arrow-container {
        margin-top: 50%;

    }

    .ratio {
        padding-bottom: 50%;
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    #aboutme {
        margin-top: 10rem;
    }

    .about-me-header {
        font-size: 1.3rem;
      
    }
    .about-me-content {
       
        font-size: 0.9rem;
    }

    .blog-card .description h1 {
        
        font-size: 1.3rem;
    }

    .blog-card .description h2 {
        font-size: 0.9rem;
    }
    
    .blog-card p {
        font-size: 0.8rem;
    }

    .fa-cloud-download-alt:before {
        font-size: 1.3rem;
    }
    .link-text {
        font-size: 1.3rem;
    }

    .panel h3 {
        font-size: 1.5rem;
    }

    .tags span {
        font-size: 0.6rem;
      
    }
    .social-media-button {
        width: 3rem;
        height: 3rem;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    #messenger {
        font-size: 2rem;
        margin-top: 5rem;
    }

    #aboutme {
        margin-top: 10rem;
    }
    

  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    #messenger {
        font-size: 2.2rem;
    }

    .arrow-container {
        margin-top: 30%;

    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    #messenger {
        font-size: 2.5rem;
    }


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
